@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Hata Mesajı:</h1>
    <br />
    <h3> @ViewData["ErrorMessage"] </h3>
</body>
</html>
