@model SessionTestProject.Entities.Account

<h2>Login Account</h2>

<form asp-action="Login">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" type="email" required /><br />
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password" required /><br />
        <span asp-validation-for="Email" class="text-danger"></span>
        @if (ViewData != null)
        {
            <p style="color:red"> @ViewData["ErrorMessage"] </p>
        }
        @if (TempData != null)
        {
            <p style="color:red"> @TempData["ErrorMessage"] </p>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Ekle" class="btn btn-primary" />
    </div>
</form>
