@{
    ViewData["Title"] = "Error";
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Hata Mesajı:</h1>
    <br />
    <h3 style="color:red"> @ViewData["ErrorMessage"] </h3>
    <br /> <br /> <br />
    <form asp-controller="Error" asp-action="GoCreatePage" method="post">
        <button type="submit"> Geri dön </button>
    </form>
</body>
</html>
